.card-menu{
    padding:10px !important;
    background-color: #e0ffcf !important;
}
.reaction-menu{
    padding:10px !important;
    background-color: #ffd8d6 !important;
}
.fight-menu{
    padding: 10px !important;
    background-color: #fbedff !important;
    width: 300px;
}
/* .show{
    background-color: ;
} */